dataset/
data/
features/
models/
checkpoints/
pretrained_models/
outputs/
results_raw/

*.h5
*.pth
*.pt
*.ckpt
*.npy
*.npz
*.wav
*.flac
*.mp4
*.avi
*.zip
*.rar
*.7z

__pycache__/
.ipynb_checkpoints/
.DS_Store
Thumbs.db

*.tmp
*.log